<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MasterDatabaseContext" connectionString="Data Source=.;Initial Catalog=Trizo;Persist Security Info=True;User ID=Test;Password=test;Connection Timeout=300;MultipleActiveResultSets=true" />
    <add name="DatabaseContext" connectionString="Data Source=.;Initial Catalog=TyreCop;Persist Security Info=True;User ID=Test;Password=test;Connection Timeout=300;MultipleActiveResultSets=true" />
    <add name="TyreCopDatabaseContext" connectionString="Data Source=.;Initial Catalog=TyreCop;Persist Security Info=True;User ID=Test;Password=test;Connection Timeout=300;MultipleActiveResultSets=true" />
    <add name="TrizoManagementSystemDatabaseContext" connectionString="Data Source=.;Initial Catalog=TrizoManagementSystem;Persist Security Info=True;User ID=Test;Password=test;Connection Timeout=300;MultipleActiveResultSets=true" />
  </connectionStrings>
</configuration>