<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="Data Source=.;Initial Catalog=Test;Persist Security Info=True;User ID=Test;Password=test;Connection Timeout=300;MultipleActiveResultSets=true" />
  </connectionStrings>
</configuration>